@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Roboto Mono', monospace !important;
}
body {
    background-color: #070E27;
}

.img-barcode img {
    width: 80%;
    height: 80%;
}

.header h1 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: 2rem;
}

.img-barcode h4 {
    color: #fff !important;
    font-size: 12px;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .img-barcode img {
        width: 50%;
        height: 50%;
    }
}
@media screen and (max-width: 768px) {
    body {
        padding-top: 5rem;
    }
}